<div class="data_page">
    <img
    class="profil_img"
    src="https://medias.liberation.fr/photo/1298612-000_1os1e2.jpg?modified_at=1583667760&width=960">
    <form class="data_reel" [formGroup]="loginFrom" (ngSubmit)="changedata()">
        <div>
            <h1>{{name}}</h1>
            <label>Password</label>
            <input formControlName="pass" type="password" value={{password}}/>
        </div>
        <div>
            <label>Age</label>
            <input formControlName="age" type="text" value={{age}} />
            <label>Race</label>
            <input formControlName="race" type="text" value={{race}} />
        </div>
        <div>
            <label>familly</label>
            <input formControlName="familly" type="text" value={{familly}} />
        </div>
        <input type="submit" value="Valider" />
    </form>
</div>

<div class="friend_page">
    <div *ngFor="let item of all_pan[0]">
        <img src="https://randomuser.me/api/portraits/men/{{number}}.jpg"/>
        <h2>{{item.name}}</h2>
        <button type="submit" (click)="add(item)">Ajouter</button>
        <button type="submit" (click)="delete(item)">Supprimer</button>
    </div>
<div>